/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS files. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

* {
  font-family: Arial, Helvetica, sans-serif;
}
